.slider::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
    display: none;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
}

.slider {
    --thumb-width: 1.2em;
    background: transparent;
    pointer-events: none;
    z-index: 5;
    width: calc(100% + var(--thumb-width));
    left: calc(var(--thumb-width) / -2);
    -webkit-appearance: none;
}

.slider::-moz-range-thumb {
    cursor: ew-resize;
    position: relative;
    pointer-events: all;
    appearance: none;
    -moz-appearance: none;
    border: solid 6px currentColor;
    height: 100%;
    min-height: 35px;
    width: var(--thumb-width);
    background-color: #18213A;
    box-sizing: border-box;
    color: inherit;
}

.slider::-webkit-slider-thumb {
    cursor: ew-resize;
    position: relative;
    pointer-events: all;
    appearance: none;
    -webkit-appearance: none;
    border: solid 6px currentColor;
    border-radius: 500px;
    height: 35px;
    min-height: 1.1em;
    width: var(--thumb-width);
    background-color: #18213A;
    color: inherit;
}